<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Toolshed</h1>
      <p class="lead">Online tool and equipment rental built for the modern handyperson. Rent out tools
        you're not using to earn money or rent the quality tools you need.</p>
      <p>
        <a class="btn btn-primary my-2" routerLink="/list">List your tools</a>
        <a href="#" class="btn btn-secondary my-2">View categories</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <app-card class="col-md-4" *ngFor="let listing of listings" [listing]="listing"></app-card>
      </div>
    </div>
  </div>

</main>
